.sell-media-reprints-sf th.size {
    width: 60px;
    }

.sell-media-reprints-sf th.price {
    width: 45px;
    }

.sell-media-reprints-sf-input .price {
    width: 60px;
    }

.sell-media-reprints-sf-long {
    width: 100%;
    }

.sell-media-reprints-sf .desc-small {
    font-size: 10px;
    }

.sell-media-reprints-sf .desc-push {
    padding: 0 0 0 15px;
    }