
/*= Quick View Dialog
-------------------------------------------------------------- */
.sell-media-shipping-process-dialog-box {
  color: black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  z-index: 5000;
  opacity: 0;
  visibility: hidden; }
  .sell-media-shipping-process-dialog-box p,
  .sell-media-shipping-process-dialog-box a,
  .sell-media-shipping-process-dialog-box a:visited,
  .sell-media-shipping-process-dialog-box label,
  .sell-media-shipping-process-dialog-box h2 {
    color: black;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none; }
  .sell-media-shipping-process-dialog-box a:hover,
  .sell-media-shipping-process-dialog-box a:focus {
    color: #000; }
  .sell-media-shipping-process-dialog-box p {
    margin: 0 0 16px; }
  .sell-media-shipping-process-dialog-box img {
    float: left; }
  .sell-media-shipping-process-dialog-box .sell-media-quick-view-container {
    padding: 32px; }


  .sell-media-shipping-process-dialog-box .sell-media-quick-view-image {
    margin-bottom: 0 !important; }
  .sell-media-shipping-process-dialog-box .sell-media-quick-view-content {
    margin-bottom: 0 !important; }
    @media only screen and (max-width: 768px) {
      .sell-media-shipping-process-dialog-box .sell-media-quick-view-container {
        padding: 0; } 
      .sell-media-shipping-process-dialog-box .sell-media-quick-view-content {
        margin: 0; }
        .sell-media-shipping-process-dialog-box .sell-media-quick-view-content .sell-media-quick-view-content-inner {
          padding: 32px; } }
    .sell-media-shipping-process-dialog-box .sell-media-quick-view-content h6 {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.4;
      margin: 0 0 24px;
      padding: 0; }
  .sell-media-shipping-process-dialog-box .close {
    color: #b3b3b3;
    right: 0;
    top: 0;
    position: fixed;
    cursor: pointer;
    font-size: 32px;
    line-height: 1;
    text-align: center;
    width: 34px;
    height: 36px; }
    .admin-bar .sell-media-shipping-process-dialog-box .close {
      top: 32px; }
      @media only screen and (max-width: 768px) {
        .admin-bar .sell-media-shipping-process-dialog-box .close {
          top: 42px; } }
    @media only screen and (max-width: 768px) {
      .sell-media-shipping-process-dialog-box .close {
        color: #fff; } }
    .sell-media-shipping-process-dialog-box .close:hover {
      color: #fff; }
  .sell-media-shipping-process-dialog-box .sell-media-button {
    display: block;
    width: 100%; }
  .sell-media-shipping-process-dialog-box .sell-media-credit {
    color: #fff;
    font-size: 11px;
    position: absolute;
    bottom: -32px;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center; }
    .sell-media-shipping-process-dialog-box .sell-media-credit a {
      color: #fff;
      text-decoration: none; }
  .sell-media-shipping-process-dialog-box #sell-media-shipping-process-dialog-box-target {
    background-color: #fff;
    position: relative;
    max-width: 1000px;
    width: 80%;
    margin: 4em auto; }
  .sell-media-shipping-process-dialog-box.is-visible {
    opacity: 1;
    visibility: visible; }
    .sell-media-shipping-process-dialog-box.is-visible #sell-media-shipping-process-dialog-box-target .sell-media-shipping-process-dialog-box-arrow {
      position: absolute;
      display: inline;
      z-index: 1000;
      color: rgba(255, 255, 255, 0.7);
      top: 45%;
      text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.5); }
      .sell-media-shipping-process-dialog-box.is-visible #sell-media-shipping-process-dialog-box-target .sell-media-shipping-process-dialog-box-arrow:hover {
        color: #fff; }
      .sell-media-shipping-process-dialog-box.is-visible #sell-media-shipping-process-dialog-box-target .sell-media-shipping-process-dialog-box-arrow span {
        font-size: 35px;
        height: 40px;
        width: 40px; }
    .sell-media-shipping-process-dialog-box.is-visible #sell-media-shipping-process-dialog-box-target .sell-media-shipping-process-dialog-box-prev {
      left: -40px;
      float: left; }
    .sell-media-shipping-process-dialog-box.is-visible #sell-media-shipping-process-dialog-box-target .sell-media-shipping-process-dialog-box-next {
      float: right;
      right: -40px; }
    @media only screen and (max-width: 768px) {
      .sell-media-shipping-process-dialog-box.is-visible #sell-media-shipping-process-dialog-box-target .sell-media-shipping-process-dialog-box-next {
        float: right; } }
  @media only screen and (min-width: 1170px) {
    .sell-media-shipping-process-dialog-box #sell-media-shipping-process-dialog-box-target {
      margin: 8em auto; } }

.sell-media-shipping-process-dialog-box {
  overflow: scroll; }
  .sell-media-shipping-process-dialog-box #sell-media-shipping-process-dialog-box-target {
    max-height: 500px;
    width: 500px;
    overflow-y: scroll; }
    .sell-media-shipping-process-dialog-box #sell-media-shipping-process-dialog-box-target .content {
      padding: 50px; }
  @media only screen and (max-width: 768px) {
    .sell-media-shipping-process-dialog-box {
      overflow: scroll; }
      .sell-media-shipping-process-dialog-box #sell-media-shipping-process-dialog-box-target {
        max-height: 500px;
        width: 302px; } }